/* General Styles */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f7f6;
  color: #34495e;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  color: #16a085;
}

/* TransferItem Styles */
.transfer-item {
  padding: 10px; /* Increased padding */
  margin: 10px 0; /* Increased margin */
  border: 1px solid #bdc3c7;
  border-radius: 6px; /* Slightly larger border-radius */
  background-color: #ecf0f1;
  color: #34495e;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.transfer-item:hover {
  background-color: #d0e6e4;
}

.transfer-item.selected {
  background-color: #16a085;
  color: #fff;
}

/* TransferListBox Styles */
.transfer-list-box {
  flex: 1;
  margin: 0 20px; /* Increased margin */
  background-color: #fff;
  border: 1px solid #dfe6e9;
  border-radius: 10px; /* Slightly larger border-radius */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Slightly larger shadow */
  padding: 20px; /* Increased padding */
}

.transfer-list-box h3 {
  margin-bottom: 20px; /* Increased margin */
  color: #16a085;
}

.transfer-list-box .list-container {
  border-radius: 10px;
  min-height: 300px; /* Increased height */
  overflow-y: auto;
}

.transfer-list-box .no-items {
  color: #7f8c8d;
  text-align: center;
  margin-top: 50px; /* Increased margin */
}

/* Button Styles */
.transfer-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 20px; /* Increased margin */
}

.transfer-buttons button {
  margin: 15px 0; /* Increased margin */
  padding: 15px; /* Increased padding */
  border: none;
  background-color: #16a085;
  color: #fff;
  cursor: pointer;
  border-radius: 6px; /* Slightly larger border-radius */
  transition: background-color 0.3s ease;
}

.transfer-buttons button:disabled {
  background-color: #bdc3c7;
  cursor: not-allowed;
}

.transfer-buttons button:hover:not(:disabled) {
  background-color: #148f77;
}

/* Layout Styles */
.transfer-list-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 30px; /* Increased padding */
  background-color: #eaf2f1;
  border-radius: 15px; /* Slightly larger border-radius */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); /* Slightly larger shadow */
}